<%= form_for(@u_suitcase) do |f| %>
  <% if @u_suitcase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@u_suitcase.errors.count, "error") %> prohibited this u_suitcase from being saved:</h2>

      <ul>
      <% @u_suitcase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :country_id %><br>
    <%= f.text_field :country_id %>
  </div>
  <div class="field">
    <%= f.label :weather %><br>
    <%= f.text_field :weather %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
